
<div class="container">
  <div>
    <div>
      <input [(ngModel)]="user" placeholder="user" required>
      <br>
      <br>
      <input [(ngModel)]="user_id" placeholder="user_id" required>
      <br>
      <br>
      <button (click)="mockedUser()" type="button">Crear cookie</button>
      <br>
      <input type="text" placeholder="message"  [(ngModel)]="input_message">
    
      <button (click)="sendData('message')" type="button">Enviar mensaje</button>
      <small>El siguiente mensaje se enviara a todos los dispositivos conectados a la sala</small>
    
    </div>

    <div class="alert alert-success" role="alert">
      {{msg}}
    </div>

    <div class="alert alert-warning" role="alert">
      {{msg}}
    </div>
  </div>
</div>